.team-page {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

/* staffs Section */
.staffs-section {
    margin-bottom: 80px;
}

.staffs-card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    max-width: 300px;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Uniform image size for staffss */
.staffs-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

/* staffs Info */
.staffs-card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #021427;
}

.staffs-card h4 {
    font-size: 1rem;
    margin: 5px 0;
    color: #555;
}

.staffs-card ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    text-align: left;
    color: #555;
}

.staffs-card ul li {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.staffs-card p {
    font-size: 0.9rem;
    color: #555;
    margin-top: 10px;
    text-align: justify;
}

/* Research Team Section */
.team-section {
    margin-top: 40px;
}

.team-section-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #021427;
    display: flex;
    justify-content: left;
    
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    justify-content: center; 
}

/* Team Cards */
.team-grid .team-card {
    text-align: center;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px; 
    max-height: 500px;
}

.member-status{
    font-size: 1.2rem;
}

.team-card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.team-card-name {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.team-card-title {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
    text-align: center;
}

.team-card-expertise {
    font-size: 0.9rem;
    color: #555;
    text-align: left;
}

.read-more-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
  }
  
  .read-more-link:hover {
    text-decoration: underline;
  }
  